<div class='container'>
  <div class='row'>
    <div class='col-sm-6 col-12'>
      <h1 rtl class='main-heading'>{{projectsLinks.projectList.name}}</h1>
    </div>
    <div class='col-sm-6 col-12 d-flex align-items-sm-start justify-content-sm-end mb-2'>
      <button mat-raised-button color='accent' [routerLink]='[projectsLinks.newProject.path]'>
        <mat-icon>add</mat-icon>
        Nouveau projet
      </button>
    </div>
  </div>
  <h3>Mes projets</h3>
  <div class='row align-items-start'>
    <div *ngFor='let project of getOwnedProjects(projectList$ | async)' class='col-md-6 col-lg-4'>
      <cc-project-view-card [project]='project'></cc-project-view-card>
    </div>
  </div>
  <mat-divider></mat-divider>
  <h3>Projets rejoints</h3>
  <div class='row align-items-start'>
    <div *ngFor='let project of getJoinedProjects(projectList$ | async)' class='col-md-6 col-lg-4'>
      <cc-project-view-card [project]='project'></cc-project-view-card>
    </div>
  </div>
</div>
