<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h1 rtl class='main-heading'>{{featureLink.name}}</h1>
    </div>
  </div>
  <div class='row align-items-start'>
    <div *ngFor='let feature of features' class='col-md-6 col-lg-4'>
      <mat-card>
        <mat-card-title>
          {{feature.name}}
        </mat-card-title>
        <mat-card-content rel>
          <div [innerHTML]='feature.description'></div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
