<div (click)="toggle()" (contextmenu)="handleRightClickFile($event)" *ngIf="!(rename | async)"
     [class]="'monaco-tree-row' + (hide ? ' hide ' : ' ') + theme">
  <span [style]="style"></span>
  <i *ngIf="folder" [class]="'monaco-tree-arrow codicon codicon-chevron-down' + (open ? ' open' : '')"></i>
  <img [src]="'assets/icons/'+ icon +'.svg'" class="monaco-tree-icon"/>
  <div class="monaco-tree-name">{{name}}</div>
</div>

<span *ngIf="rename | async">
    <div [class]="'monaco-tree-row' + (hide ? ' hide ' : ' ') + theme">
        <input #myInput (focusout)="handleRenameFocusOut(row)" (keyup)="handleRenameKeyUp($event)" [value]="name"
               autofocus
               id="inputRename" name="name" type="text"/>
    </div>
</span>


<span *ngIf="edited">
    <div [class]="'monaco-tree-row' + (hide ? ' hide ' : ' ') + theme">
        <input #myInput (focusout)="handleFocusOut(row)" (keyup)="handleCreateKeyUp($event, row)" autofocus
               id="inputCreate"
               name="name" type="text"/>
    </div>
</span>
<monaco-tree-context-menu (createImage)="handleCreateImage($event)" *ngIf="type === 'dir'" [elements]="contextMenuDir"
                          [left]="position ? position[0] : undefined"
                          [row]="row"
                          [top]="position ? position[1] : undefined"></monaco-tree-context-menu>
<monaco-tree-context-menu (createImage)="handleCreateImage($event)" *ngIf="type === 'file'" [elements]="contextMenuFile"
                          [left]="position ? position[0] : undefined" [row]="row"
                          [top]="position ? position[1] : undefined"></monaco-tree-context-menu>
<span *ngIf="this.treeOpenService.directoryOpen.value.includes(row.fullPath.split('/').pop())">
    <monaco-tree-file (clickFile)="handleClickFile($event)" (contextMenuClick)="handleRightClick($event)"
                      (createDir)="handleCreateDir($event)" (createFile)="handleCreateFile($event)"
                      (createImage)="handleCreateImage($event)" (renameFolder)="handleRenameFolder($event)"
                      *ngFor="let row of content" [content]="row.content" [depth]="depth+1"
                      [edited]="row.edited" [hide]="!open || hide" [name]="row.name" [rename]="row.rename" [row]="row"
                      [theme]="theme">
    </monaco-tree-file>
</span>
