<div class='background pb-4'>
  <div class='gradient'>
    <div class='container'>
      <h1>Bienvenue sur {{ appName }}</h1>
      <div class='actions'>
        <a mat-raised-button class='actions-main' color='primary'
           [routerLink]='"../" + navigation.features.path'>
          {{ navigation.features.name }}
        </a>
        <a mat-raised-button class='actions-main' color='accent'
           [routerLink]='"../" + navigation.examples.path'>
          {{ navigation.examples.name }}
        </a>
        <a mat-raised-button class='actions-main' color='warn'
           [routerLink]='"../" + navigation.settings.path'>
          {{ navigation.settings.name }}
        </a>
      </div>
    </div>
  </div>
</div>
<div class='container'>
  <div class='follow-releases'>
    <h2 rel>Présentation</h2>
    <p rel>
      La meilleure application pour développer via le navigateur uniquement !
    </p>
  </div>
</div>
