<div class='background gradient'>
    <div class='container'>
      <div class='row justify-content-center'>
        <h1>Bienvenue sur {{ appName }}</h1>
      </div>
      <div class='row mt-4'>
        <div class='col-12'>
          <div class='typo'>Le site ou vous pouvez</div>
          <div class='tw typo'></div>
          <div class='typo'>En toute liberté !</div>
        </div>
        <!--<div class='col-4'>

          <a mat-raised-button class='actions-main' color='primary'
             [routerLink]='"/" + navigation.features.path'>
            {{ navigation.features.name }}
          </a>
          <a mat-raised-button class='actions-main' color='accent'
             [routerLink]='"/" + navigation.examples.path'>
            {{ navigation.examples.name }}
          </a>
          <a mat-raised-button class='actions-main' color='warn'
             [routerLink]='"/" + navigation.settings.path'>
            {{ navigation.settings.name }}
          </a>
        </div>-->
      </div>
      
    </div>
</div>
