<div [class]="'theme-wrapper ' + (theme$ | async)">

  <mat-sidenav-container>

    <mat-sidenav #sidenav mode='push'>
      <div class='branding'><img [src]='logo' [alt]='logo' />
        <span>{{ appName }}</span></div>
      <mat-nav-list>
        <mat-list-item
          *ngFor='let link of(isAuthenticated$ | async) ? navigationSideMenu : noAuthLinks(navigationSideMenu)'
          (click)='sidenav.close()' [routerLink]='[link.path]'
          routerLinkActive='active'>
          {{link.name }}
        </mat-list-item>
      </mat-nav-list>

    </mat-sidenav>
    <div class='wrapper'>

      <div *ngIf='!isOnCodeEditorPage()' class='toolbar'>
        <mat-toolbar color='primary'>
          <button mat-icon-button class='d-md-none' (click)='sidenav.open()'>
            <fa-icon icon='bars'></fa-icon>
          </button>

          <a [routerLink]='routerLinks.home.path'
             class='branding spacer center d-inline d-sm-none'>
            <img [src]='logo' [alt]='logo' />
          </a>
          <a [routerLink]='routerLinks.home.path'
             class='branding spacer center d-none d-sm-inline d-md-none'>
            <img [src]='logo' [alt]='logo' />
            {{ appName  }}
          </a>
          <a [routerLink]='routerLinks.home.path'
             class='branding spacer d-none d-md-inline'>
            <img [src]='logo' [alt]='logo' />
            {{ appName}}
          </a>

          <span class='d-none d-md-inline'>
            <button mat-button class='nav-button'
                    *ngFor='let link of (isAuthenticated$ | async) ? navigationMenu : noAuthLinks(navigationMenu)'
                    [routerLink]='[link.path]'
                    routerLinkActive='active'>
              {{link.name }}
            </button>
          </span>
          <button *ngIf='isAuthenticated$ | async' mat-icon-button [routerLink]='friendshipsLink'>
            <mat-icon>message</mat-icon>
          </button>
          <button mat-icon-button
                  [matMenuTriggerFor]='toolbarUserMenu'>
            <fa-icon icon='user-circle'></fa-icon>
          </button>
          <mat-menu #toolbarUserMenu='matMenu'>
            <button mat-menu-item [routerLink]='routerLinks.auth.path' *ngIf='!(isAuthenticated$ | async)'>
              <mat-icon>
                login
              </mat-icon>
              <span>Se connecter</span>
            </button>
            <button mat-menu-item [routerLink]='routerLinks.auth.path+"/register"' *ngIf='!(isAuthenticated$ | async)'>
              <mat-icon>
                person_add
              </mat-icon>
              <span>S'inscrire</span>
            </button>
            <a mat-menu-item [routerLink]='[userViewLink, currentUserId]' *ngIf='(isAuthenticated$ | async)'>
              <mat-icon>
                face
              </mat-icon>
              <span>Mon profil</span>
            </a>
            <button mat-menu-item (click)='onLogoutClick()' *ngIf='(isAuthenticated$ | async)'>
              <mat-icon>
                <fa-icon icon='power-off'></fa-icon>
              </mat-icon>
              <span>Se déconnecter</span>
            </button>
          </mat-menu>

          <button mat-icon-button [routerLink]='routerLinks.settings.path' class='d-none d-sm-inline'>
            <fa-icon icon='cog'></fa-icon>
          </button>
        </mat-toolbar>
      </div>

      <div class='content' [@routeAnimations]='o.isActivated && o.activatedRoute.routeConfig?.data?.title'>
        <router-outlet #o='outlet'></router-outlet>
      </div>

      <div *ngIf='!isOnCodeEditorPage()' class='footer'>
        <div class='row'>
          <div class='col-sm-12 links'>
            <a href='https://github.com/Coding-Cloud' target='_blank' rel='noopener noreferrer'>
              <fa-icon [icon]="['fab','github']"></fa-icon>
              <span>Github</span>
            </a>
            <a href='https://doc.cloudcoding.fr' target='_blank' rel='noopener noreferrer'>
              <mat-icon>book</mat-icon>
              <span>Documentation</span>
            </a>
          </div>
        </div>
        <div class='row'>
          <div class='col-12 signature'>
            &#169; <span class='year'>{{year}}</span> - <span>
            <a href='https://github.com/pooetitu' target='_blank'>Pierre Ebrahim</a> -
            <a href='https://github.com/Nouuu' target='_blank'>Noé Larrieu-Lacoste</a> -
            <a href='https://github.com/RemyMach' target='_blank'>Rémy Machavoine</a>
          </span>
            <br class='d-block d-sm-none'>
            <a class='a2' href='https://github.com/Coding-Cloud/Cloud-Coding-Angular-App'>
              <fa-icon icon='rocket'></fa-icon>
              {{version}} <span *ngIf='!isProd'>[{{envName}}]</span>
            </a>
          </div>
        </div>
      </div>

    </div>

  </mat-sidenav-container>

</div>
