<div class="code-editor-page">
    <div  class="editor-content">
        <div *ngIf="!isLoading" class="editor">
            <span class="editor__tree d-flex flex-column">
                <monaco-tree [currentFile]="currentFile.path" [tree]="tree" (clickContextMenu)="handleClickContextMenu($event)"
                    (clickFile)="handleClickOnFolder($event)" (createFile)="handleCreateFile($event)" (createImage)="handleCreateImage($event)"
                    (createDir)="handleCreateDir($event)" (renameFolder)="handleRenameFolder($event)"></monaco-tree>
                <app-developer-list></app-developer-list>
            </span>
            <span id="app-editor-picture-component" *ngIf="IMAGE_EXTENSION.includes(currentFile.type); else notImageFile">
                <app-editor-picture [type]="currentFile.type" [code$]="code$" ></app-editor-picture>
            </span>
            <ng-template #notImageFile>
                <ngx-monaco-editor   class="editor__text" (ngModelChange)="handleChange($event)" [options]="editorOptions"
                [ngModel]="(code$ | async)" (ngModelChange)="'jean'"></ngx-monaco-editor>
            </ng-template>
        </div>
        <app-spinner *ngIf="isLoading || (loadingMonacoEditor$ | async)" class="spinner-editor"></app-spinner>
        <!-- <button class="button__tree" (click)="handleSave()">GOOOO</button>  -->
    </div>

    <app-front-view class="iframe-view" *ngIf="!(loadingIframe$ | async) && baseUrlPath" [url]="baseUrlPath" [projectUniqueName]="uniqueName" ></app-front-view>
    <!--<iframe *ngIf="!(loadingIframe$ | async)" class="iframe-view" [src]="this.baseUrlPathTrust" title="description"></iframe>-->
    <app-spinner class="iframe-view loader" *ngIf="(loadingIframe$ | async)"></app-spinner>
</div>

<app-terminal id="terminal" [text]="codeRunnerSysOut$ | async" ></app-terminal>
