<div class='container'>
  <h2 class='h2'>Comment editor</h2>
  <form [formGroup]='commentFormGroup'>
    <div class='editor'>
      <ngx-editor-menu [editor]='editor' [toolbar]='toolbar' [customMenuRef]='customMenu'>
      </ngx-editor-menu>
      <ngx-editor [editor]='editor' formControlName='commentContent' (input)='onCommentUpdate()'>
      </ngx-editor>
    </div>
    <mat-card class='mt-3'>
      <mat-card-header>
        <mat-card-title>
          Comment view
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ngx-editor [editor]='editorView' formControlName='commentContentView'></ngx-editor>
      </mat-card-content>
    </mat-card>
    <ng-template #customMenu>
      <cc-custom-menu [editor]='editor'></cc-custom-menu>
    </ng-template>
  </form>
</div>
