<div>
  <input #InputUsername id="input"/>
  <button (click)="handleValidUsername(InputUsername.value)">valid</button>
  <button (click)="handleCall()">call</button>
</div>

<!-- to show incommming call and accept -->
<div id="answer">
  <div class="incomingWrapper">
    <div class="itemWrapper">
      <h2>Incomming Call</h2>
    </div>
    <div class="itemWrapper">
      <img id="profileImageA" style="padding: 30px; width: 140px; height: 140px;"
           src="/assets/profile.png" alt="">
    </div>
    <div class="itemWrapper">
      <h2 style="line-height: 0px;"><span id="callerName"></span></h2>
    </div>
    <div class="itemWrapper" style="display: flex; flex-direction: row; margin-bottom: 20px;">
      <button class="actionButton" onclick="answer()">Answer</button>
    </div>
  </div>
</div>

<!-- to show outgoing call -->
<div id="calling">
  <div class="incomingWrapper">
    <div class="itemWrapper">
      <h2>Calling</h2>
    </div>
    <div class="itemWrapper">
      <img id="profileImageCA" style="padding: 30px; width: 140px; height: 140px;"
           src="/assets/profile.png" alt="">
    </div>
    <div class="itemWrapper">
      <h3 style="line-height: 0px;"><span id="otherUserNameCA"></span></h3>
    </div>
  </div>
</div>



<!-- to show call in progress call -->
<div id="inCall">
  <div class="incomingWrapper">
    <div class="itemWrapper">
      <h3>On Call With</h3>
      <h2 style="line-height: 0px;"><span id="otherUserNameC"></span></h2>
    </div>
  </div>
</div>

<br>

<!-- to show local and remote video -->
<div>
</div>
  <div>
    <video [srcObject]="localVideoSrcObject" #localVideo width="500px" autoplay ></video>
  </div>
  <div >
    <video [srcObject]="remoteVideoSrcObject" #remoteVideo width="500px" autoplay ></video>
  </div>
<div style="flex-grow: 1;">
</div>
