@use '~@angular/material' as mat;

$cc-black-primary: mat.define-palette(mat.$grey-palette, 800, 500, 900);
$cc-black-accent: mat.define-palette(mat.$light-blue-palette, 600);
$cc-black-warn: mat.define-palette(mat.$red-palette, 500);

$cc-black-theme: mat.define-dark-theme(
  $cc-black-primary,
  $cc-black-accent,
  $cc-black-warn
);
