@use '~@angular/material' as mat;

$cc-primary: mat.define-palette(mat.$indigo-palette, 800, 300, 900);
$cc-accent: mat.define-palette(mat.$light-blue-palette);
$cc-warn: mat.define-palette(mat.$pink-palette, 600);

$cc-theme: mat.define-light-theme($cc-primary, $cc-accent, $cc-warn);
