@use '~@angular/material' as mat;

$cc-light-primary: mat.define-palette(mat.$grey-palette, 200, 500, 300);
$cc-light-accent: mat.define-palette(mat.$brown-palette, 200);
$cc-light-warn: mat.define-palette(mat.$deep-orange-palette, 200);

$cc-light-theme: mat.define-light-theme(
  $cc-light-primary,
  $cc-light-accent,
  $cc-light-warn
);
