@use 'sass:map';
@use '@angular/material' as mat;
@import 'src/styles-variables';

.border {
  display: grid;
  place-items: center;
  padding: 1rem;
  background: rgba(90, 90, 90, 0.13);
  border-radius: 4px;
}
