<div class='container'>
  <div class='row'>
    <h1 class='main-heading'>{{socialNavigation.social.name}}</h1>
  </div>
  <div class='row align-items-start'>
    <div class='col-md-12 col-lg-6'>
      <div class='row'>
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar style='
            background-image: url(assets/social-network.jpeg);
            background-size: cover;'
            >
            </div>
            <mat-card-title>
              <a [routerLink]='socialUsersLink'>
                Utilisateurs
              </a>
            </mat-card-title>
            <mat-card-subtitle>
              Parcourez la liste des utilisateurs inscrits et consultez leurs projets publiques.
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <cc-user-search></cc-user-search>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class='col-md-12 col-lg-6'>
      <div class='row'>
        coucou 2
      </div>
    </div>
  </div>
</div>
