<div class='container'>
  <div class='row' rtl>
    <div class='col-sm-12'><h1>Paramètres</h1></div>
  </div>
  <br>
  <ng-container *ngIf='settings$ | async as settings'>
    <div class='row' rtl>
      <div class='col-md-6 group' [ngClass]='routeAnimationsElements'>
        <h2>Thème</h2>
        <div class='icon-form-field'>
          <mat-icon color='accent'>
            <fa-icon icon='paint-brush' color='accent'></fa-icon>
          </mat-icon>
          <mat-form-field>
            <mat-select [placeholder]="'Thème'"
                        [ngModel]='settings.theme'
                        (selectionChange)='onThemeSelect($event)'
                        name='themes'>
              <mat-option *ngFor='let t of themes' [value]='t.value'>
                {{ t.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class='col-md-6 group' *ngIf='(isAuthenticated$ | async)'>
        <h2>Utilisateur connecté</h2>
        <mat-list>
          <mat-list-item>
            <mat-icon matListIcon>account_circle</mat-icon>
            <span>{{(user$ | async)?.firstname}} {{(user$ | async)?.lastname}}</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>badge</mat-icon>
            <span>{{(user$ | async)?.username}}</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>email</mat-icon>
            <span>{{(user$ | async)?.email}}</span>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </ng-container>
</div>
