<div class='container'>
  <div class='row'>
    <div class='col-sm-6 col-12'>
      <h1 rtl class='main-heading'>{{(group$ | async)?.name}}</h1>
    </div>
  </div>
  <div class='row align-items-start'>
    <div class='col-md-12 col-lg-6'>
      <div class='row'>
        <div class='col-12'>
          <cc-group-edit [group]='group$ | async' *ngIf='editMode$ | async'></cc-group-edit>
          <mat-card *ngIf='!(editMode$ | async)'>
            <mat-card-content>
              <ul>
                <li><strong>Propriétaire</strong> : <a
                  [routerLink]=[userViewLink,groupOwnerId]>{{((group$ | async)?.ownerId | username) | async}}</a></li>
                <li><strong>Projets associés</strong> : {{(group$ | async)?.projects?.length ?? 0}}</li>
                <li><strong>Créé le</strong> : {{(group$ | async)?.createdAt | date : 'longDate'}}</li>
              </ul>
            </mat-card-content>
            <mat-card-actions align='end' *ngIf='(group$ | async)?.ownerId === (currentUser$ | async)?.id'>
              <button mat-raised-button color='primary' (click)='onEditSwitch()'>
                <mat-icon>edit</mat-icon>
                Modifier
              </button>
              <button mat-raised-button color='warn' (click)='onDelete()'>
                <mat-icon>delete</mat-icon>
                Supprimer
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class='col-12 d-flex justify-content-between align-items-start'>

          <h3 class='main-heading'>Projets associés</h3>
          <button mat-raised-button color='primary' (click)='onSearchProject()'
                  *ngIf='currentUserId === (group$ | async)?.ownerId'>
            <mat-icon>add</mat-icon>
            Ajouter un projet
          </button>
        </div>
        <div *ngFor='let project of (group$ | async)?.projects' class='col-6'>
          <mat-card>
            <mat-card-title>
              <div class='row'>
                <div class='col-12 d-flex justify-content-between align-items-start'>
                  <a [routerLink]=[projectViewLink,project.id]>{{project.name}}</a>
                  <button mat-icon-button color='warn'
                          *ngIf='(group$ | async)?.ownerId === (currentUser$ | async)?.id'
                          (click)='onRemoveProject(project.id)'>
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>
              </div>
            </mat-card-title>
            <mat-card-subtitle>
              {{project.language | projectLanguage}}
            </mat-card-subtitle>
            <mat-card-content rel>
              <ul>
                <li><strong>Dernière version</strong> : {{project.lastVersion}}</li>
                <li><strong>Statut</strong> : {{project.status | projectStatus}}</li>
                <li><strong>Visibilité</strong> : {{project.globalVisibility | projectVisibility}}</li>
                <li><strong>Créé le</strong> : {{project.createdAt | date : 'longDate'}}</li>
              </ul>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div class='col-md-12 col-lg-6'>
      <div class='row'>
        <div class='col-12 d-flex justify-content-between align-items-start'>
          <h3 class='main-heading'>Membres</h3>
          <button mat-raised-button color='primary' (click)='onSearchUser()'
                  *ngIf='currentUserId === (group$ | async)?.ownerId'>
            <mat-icon>add</mat-icon>
            Ajouter un membre
          </button>
        </div>
        <div class='col-sm-6 col-md-4 col-12' *ngFor='let member of (members$ | async)'>
          <mat-card>
            <mat-card-title>
              <div class='row'>
                <div class='col-12 d-flex justify-content-between align-items-start'>
                  <a [routerLink]=[userViewLink,member.userId]>{{member.userId | username | async}}</a>
                  <button mat-icon-button color='warn'
                          *ngIf='(group$ | async)?.ownerId === (currentUser$ | async)?.id
                                && member.userId !== (currentUser$ | async)?.id'
                          (click)='onRemoveMembership(member.userId)'>
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>
              </div>
            </mat-card-title>
            <mat-card-subtitle>
              <mat-slide-toggle [checked]='member.canEdit'
                                [disabled]='(group$ | async)?.ownerId !== (currentUser$ | async)?.id
                                || member.userId === (currentUser$ | async)?.id'
                                (change)='onUpdateMembership(member.userId,!member.canEdit)'>
                Peut modifier
              </mat-slide-toggle>
            </mat-card-subtitle>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
