<div>
    <button #collapsible type="button" class="collapsible" (click)="handleClickOnCollapse()"><span>Developpeurs connectés</span>
      <mat-icon class="arrow chevron-left">{{iconChevronName}}</mat-icon>
    </button>
    <div class="content"  #collapsed>
        <ul>
            <li *ngFor='let playerConnected of playersConnected$ | async'>
              <mat-icon class="connected-user">radio_button_checked</mat-icon><span>{{playerConnected}}</span>
            </li>
        </ul>
    </div>
</div>
