// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;

@import 'styles-variables';

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import 'styles-reset';

@include mat.core();

@import 'themes/default-theme';
@import 'themes/light-theme';
@import 'themes/black-theme';
@import 'themes/nature-theme';

@import 'styles-reset.scss-theme';
@import 'app/app/app.component.scss-theme';
@import 'app/shared/big-input/big-input/big-input.component.scss-theme';
@import 'app/features/home/home/home.component.scss-theme';
@import 'app/features/examples/notifications/components/notifications.component.scss-theme';
@import 'app/features/examples/todos/components/todos-container.component.scss-theme';
@import 'app/features/examples/examples/examples.component.scss-theme';

@mixin custom-components-theme($theme) {
  @include cc-styles-reset-theme($theme);
  @include cc-app-component-theme($theme);
  @include cc-home-component-theme($theme);
  @include cc-big-input-component-theme($theme);
  @include cc-notifications-component-theme($theme);
  @include cc-todos-container-component-theme($theme);
  @include cc-examples-component-theme($theme);
}

.default-theme {
  @include mat.all-component-themes($cc-theme);
  @include custom-components-theme($cc-theme);
}

.light-theme {
  @include mat.all-component-themes($cc-light-theme);
  @include custom-components-theme($cc-light-theme);
}

.black-theme {
  @include mat.all-component-themes($cc-black-theme);
  @include custom-components-theme($cc-black-theme);
}

.nature-theme {
  @include mat.all-component-themes($cc-nature-theme);
  @include custom-components-theme($cc-nature-theme);
}

.container {
  margin-top: 20px;
}

.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

mat-card {
  margin: 0 0 20px 0;

  mat-card-title {
    position: relative;

    code {
      position: absolute;
      top: 11px;
      right: 0;
      float: right;
      font-size: 10px;
    }
  }
  mat-card-subtitle {
    min-height: 40px;
  }

  ul {
    padding: 0 0 0 16px;

    li {
      margin: 0 0 10px 0;
    }
  }

  a {
    fa-icon {
      position: relative;
      bottom: 2px;
      font-size: 16px;
      margin: 6px;
    }
  }
}
