<div [class]='getRootClasse()'>
  <div class='row' *ngIf='isInRouteLink()'>
    <h1 class='main-heading'>{{socialNavigation.projects.name}}</h1>
  </div>
  <mat-card-content>
    <div class='row gy-2'>
      <mat-form-field class='col-12' appearance='standard'>
        <mat-label>Nom</mat-label>
        <input matInput
               placeholder='Nom'
               (keydown.enter)='onSearch()'
               [formControl]='searchQuery'>
      </mat-form-field>
      <mat-progress-bar class='col-12' mode='indeterminate' *ngIf='loading$ | async'></mat-progress-bar>
      <div class='col-12' style='max-height:500px; overflow: auto'>
        <table mat-table [dataSource]='(projectResults$ | async) ?? []' style='width: 100%'>
          <ng-container matColumnDef='row'>
            <td mat-cell *matCellDef='let project'>
              <mat-card class='mt-3'>
                <mat-card-title>
                  {{project.name}}
                </mat-card-title>
                <mat-card-subtitle>
                  {{project.language | projectLanguage}}
                </mat-card-subtitle>
                <mat-card-content rel>
                  <ul>
                    <li><strong>Dernière version</strong> : {{project.lastVersion}}</li>
                    <li><strong>Créé le</strong> : {{project.createdAt | date : 'longDate'}}</li>
                  </ul>
                </mat-card-content>
              </mat-card>
            </td>
          </ng-container>

          <tr mat-row (click)='onClick(project)' *matRowDef='let project; columns: displayedColumns;'></tr>
        </table>
      </div>
      <mat-paginator
        class='col-12'
        [length]='projectTotalResults$ | async'
        [pageSize]='pageSize'
        [pageIndex]='pageIndex'
        [pageSizeOptions]='[5, 10, 25]'
        (page)='onSearchPage($event.pageIndex,$event.pageSize)'
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-card-content>
</div>
